body {
   font-family: 'Tinos', serif;
}

h1 {
  font-size: 60px; 
  margin: 1.5em 0 .4em;
}

h2 {
 margin-bottom: 1.2em; 
}

h1, h2 {
  text-shadow: 1px 5px 5px #ccc;
}

h3 {
 margin: 30px 0;
 text-align:center;  
}

p {
  margin-top: 2em;
  font-size: 28px;
}

img {
 float:right; 
 margin-right: 2.6em;
}

input {
  border: 1px solid #dcdcdc;
  height: 60px;
  width: 60px;
  padding: .3em;
  font-size: 24px;
  border-radius: .3em; 
  text-align: right;
}

.one {
 float: left; 
 margin-left: 40%; 
}

.two {
 float: right;
 margin-right: 40%; 
}

.three, .four {
  color: white;
  background-color: #838383; 
  border: 1px solid #dcdcdc;
  height: 60px;
  width: 60px;
  font-size: 2em;
  border-radius: .3em;
  cursor: pointer;
}

.three {
  float: left; 
  margin-left: 40%;
}

.four {
  float: right;
  margin-right: 40%; 
}

 